.work-experience {
    padding-top: 10px;
    padding-bottom: 10px;
}
.weOrganization {
    color: #1C266B;
    font-size: 16px;
    font-weight: bold;
}
.weTitle {
    color: #b9b6b6;
    font-size: 14px;
}
.weDates {
    color: #b9b6b6;
    font-size: 14px;
}
.weLocation {
    color: #b9b6b6;
    font-size: 14px;
}
