/* Prussian Blue: #083C5D */
/* Sky Blue: #328CC1 */
/* Gold Leaf: #D9B310 */
/* Ivory Black: #1D2731 */

body {
  color: #1D2731;
}

div.scroll {
  margin: 5px;
  height: 635px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 5px;
}

.component {
  padding-top: 5px;
  padding-left: 20px;
  padding-right:20px;
  padding-bottom: 10px;
}

.section {
  margin-top: 10px;
}

.section-header {
  color: #1D2731;
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
}

.menu {
  padding-top: 5px;
  padding-left: 10px;
}

.link {
  padding-right: 10px;
  color: #328CC1
}
.header-component {
  margin: 10px;
  background-color:#083C5D;
}
.header-link {
  color:white;
  font-size: 18px;
}
a:hover {
  color: #328CC1;
}

.header-icon {
  color: #328CC1;
}
.resume-name {
  font-size: 48px;
  color: white;
  font-weight: bold;
}

.resume-title {
  font-size: 32px;
  color: #D9B310;
}

.resume-stack {
  font-size: 24px;
  color: #D9B310;
}

.resume-contact-info {
  padding-top: 25px;
}

.resume-phone {
  color: white;
  font-size: 18px;
}

.menu-link {
  color: #D9B310;
  font-weight: 500;
}

.section-section {
  padding-top: 10px;
  padding-bottom: 10px;
}

.education {
  padding-top: 10px;
  padding-bottom: 10px;
}
.ed-organization {
  color: #083C5D;
  font-size: 16px;
  font-weight: bold;
}
.ed-program-name {
  color: #D9B310;
  font-size: 16px;
  padding-bottom: 5px;
  font-weight: bold;
}
.ed-dates {
  color: #328CC1;
  font-size: 14px;
  padding-bottom: 5px;
}
.ed-location {
  color: #328CC1;
  font-size: 14px;
  padding-bottom: 5px;
}

.work-experience {
  padding-top: 10px;
  padding-bottom: 10px;
}
.we-organization {
  color: #083C5D;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 5px;
}
.we-title {
  color: #D9B310;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 5px;
}
.we-more-info {
  color: #328CC1;
  font-size: 14px;
  padding-bottom: 5px;
}

.gold-switch {
  color: #D9B310
}


.footer-component {
  padding-top: 10px;
  background-color:#083C5D;
  position:absolute;                  
  bottom:0;   
  width: 1212px;
  text-align: left;
}

.copywrite {
  color:white;
}

li {
  padding-top:8px;
  padding-bottom:8px;
}


