/* Prussian Blue: #083C5D */
/* Sky Blue: #328CC1 */
/* Gold Leaf: #D9B310 */
/* Ivory Black: #1D2731 */

body {
  color: #1d2731;
}

.component {
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.section {
  margin-top: 10px;
}

.section-header {
  color: #1d2731;
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
}

.section-subheader {
  color: #1d2731;
  font-size: 18px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: left;
}

.main-content {
  padding-top: 5px;
  padding-left: 10px;
}

.link {
  padding-right: 10px;
  color: #328cc1;
}
.header-component {
  margin: 10px;
  background-color: #083c5d;
}
.header-link {
  color: white;
  font-size: 18px;
}

.years-experience {
  background-color: #328cc1;
  /* opacity: 55%; */
  color: white;
  font-weight: bold;
  padding: 10px;
  margin-top: 15px;
  border-radius: 5px;
  text-align: center;
}

.cta {
  background-color: #328cc1;
  opacity: 85%;
  color: white;
  font-weight: bold;
  padding: 10px;
  margin-top: 15px;
  border-radius: 5px;
  text-align: center;
}
a:hover {
  color: #328cc1;
}

.header-icon {
  color: #328cc1;
}
.resume-name {
  font-size: 48px;
  color: white;
  font-weight: bold;
}

.resume-title {
  font-size: 32px;
  color: #d9b310;
}

.resume-stack {
  font-size: 24px;
  color: #d9b310;
}

.resume-phone {
  color: white;
  font-size: 18px;
}

.menu-link {
  color: #d9b310;
  font-weight: 500;
}

.section-section {
  padding-top: 10px;
  padding-bottom: 10px;
}

.about-me-section {
  margin-top: 20px;
  margin-bottom: 50px;
}

.objective {
  line-height: 2;
}

.about-me-sector {
  text-align: center;
  height: 100%;
}

.about-me-core-value {
  text-align: center;
  height: 100%;
}

.about-me-text {
  margin-top: 10px;
  margin-bottom: 10px;
}

.about-this-site-scroll {
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: auto;
  height: 462px;
}

.education {
  padding-top: 10px;
  padding-bottom: 10px;
}
.education-scroll {
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: auto;
  height: 462px;
}
.ed-organization {
  color: #083c5d;
  font-size: 16px;
  font-weight: bold;
}
.ed-program-name {
  color: #d9b310;
  font-size: 16px;
  padding-bottom: 5px;
  font-weight: bold;
}
.ed-dates {
  color: #328cc1;
  font-size: 14px;
  padding-bottom: 5px;
}
.ed-location {
  color: #328cc1;
  font-size: 14px;
  padding-bottom: 5px;
}

.training-scroll {
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: auto;
  height: 462px;
}

.work-experience {
  padding-top: 10px;
  padding-bottom: 10px;
}
.we-organization {
  color: #083c5d;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 5px;
}
.we-title {
  color: #d9b310;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 5px;
}
.we-more-info {
  color: #328cc1;
  font-size: 14px;
  padding-bottom: 5px;
}
.we-currently-position {
  color: #1d2731;
  font-size: 10px;
}
.we-scroll {
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: auto;
  height: 350px;
}

.gold-switch {
  color: #d9b310;
}

.contact-form {
  padding-top: 20px;
  width: 60%;
}

.footer-component {
  padding-top: 10px;
  background-color: #083c5d;
  width: 1212px;
  text-align: left;
}

.copywrite {
  color: white;
}

li {
  padding-top: 8px;
  padding-bottom: 8px;
}
