.header-component {
  margin: 10px;
}

.resumeName {
  font-size: xx-large;
  color: #1C266B;
  font-weight: bold;
}

.resumeTitle {
  color: #9b9797;
}

.resumePhone {
  color: #9b9797;
}
.resumeEmail {
  color: #9b9797;
}
